---
layout: page
title: Categories
description: Category list from the blog
permalink: /categories/
---

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }} <span class='badge-success'>{{ category[1].size }}</span></h3>
    <a name="{{ category_name | slugize }}"></a>

    <ul>
      {% for post in site.categories[category_name] %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
